.home {
    min-height: 86vh;
    margin-bottom: 38px;
    padding-top: 70px;
}

.home .select-language {
    text-align: center;
    margin-top: 5px;
    font-family: var(--secondary-font);
}

.home .select-language .p-language {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 1.2rem;
}

.home .select-language hr {
    width: 30px;
    margin-bottom: 2px;
    margin-top: 0px;
}

.home .select-language button {
    border: none;
    background-color: var(--white);
    cursor: pointer;
    border-bottom: 2px solid var(--white);
}

.home .select-language button:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.home .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home .text-home {
    text-align: center;
    max-width: 50%;
}

.home .text-home .bold {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}

.home .text-home h1 {
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.home .text-home h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 10px;;
}

.home .text-home .span {
    font-weight: bold;
    color: var(--secondary-color);
}

.home .text-home p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
}


.home .img-home img {
    max-width: 161px;
    max-height: 161px;
    margin-top: 50px;
    box-shadow: var(--shadow);
    border-radius: 50%;
}

.home .social-media-home {
    margin-top: 20px;
}
.home .social-media-home a i {
    font-size: 3rem;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 3px;
    border-radius: 5px;
    margin: 0 10px;
    transition: 0.5s;
}

.home .social-media-home i:hover {
    background-color: var(--secondary-color)
}

@media (max-width:1280px) {
    .home {
        padding-top: 95px;
    }
}

@media (max-width:912px) {
    .home {
        padding-top: 80px;
    }
}

@media (max-width:768px) {
    .home .text-home {
        max-width: 70%;
    }
}

@media (max-width:425px) {
    .home .text-home {
        max-width: 90%;
    }
}