.skills {
    min-height: 100vh;
}

.skills .container {
    align-items: center;
    flex-direction: column;
}

.skills h2 {
    font-family: var(--principal-font);
    font-size: 2.4rem;
    border-bottom: 5px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 21px;
}

.skills .skills-list {
    display: flex;
    width: 70%;
    gap: 50px;
    justify-content: center;
}

.skills .skills-list .skill-icon {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills .skills-list .skill-icon i {
    font-size: 5rem;color: var(--primary-color);
}

.skills .skills-list .skill-icon p {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 2.4rem;
    font-weight: 300;
    margin: auto;
}

.skills .skills-list .skill-icon i:hover,
.skills .skills-list .skill-icon p:hover {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .skills .skills-list {
        flex-wrap: wrap;
    }
}
